<html>
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<body>
Hello! This is Shintaro! 

</body>

<%client = Instagram.client(:access_token => session[:access_token]) %>


</html>